span
{
    color: aqua;
  
     display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    color:red;
     display: flex;
    align-items: center;
}


hr {
    color: rgb(17, 36, 212);
    border: solid 1px;
}


nav{ float: right;
    padding: 0px 0px 0px 0px ;
    margin-top: 0px;
}


nav a {
    margin: 0px 10px 0px 20px;
  
    color: blue;
}

body{
    font-family: Arial, sans-serif;
}

h3{
   color: rgb(16, 248, 229); 
   font-size: 35PX;
   text-align: center;
}

.haha {
    color: rgb(74, 252, 30);
}

p{
    color: rgb(0, 0, 0);
    text-align: center;
}

h5{
    color: greenyellow;
}